.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row>* {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

/* Custom Styles */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  background-image: url("images/bg.jpg");
  color: rgba(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 45pt;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: 15pt;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 12pt;
}

body {
  font-family: "Outfit", sans-serif;
  color: white !important;
}

nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
  background-color: transparent !important;
  text-align: center;
}

a.nav-link.text-dark {
  color: white !important;
  font-size: 14pt;
}

a.nav-link.text-dark:hover {
  text-decoration: underline !important;
}

a.navbar-brand {
  font-family: "Outfit", sans-serif !important;
  font-size: 13pt;
  color: white !important;
  font-weight: bold !important;
}

.navbar-nav.flex-grow-1 {
  list-style-type: none;
}

.menu-list {
  list-style-type: none;
  text-align: center;
}

.btn.btn-primary {
  background-color: transparent;
  height: 40px;
  width: 80px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 4px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 14pt;
}

.btn.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: rgb(201, 48, 79);
}

.form-select {
  max-width: 200px;
  margin: 5px;
  display: inline;
}

label[for="topic"] {
  font-size: 20px;
}

label[for="sortBy"] {
  font-size: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 250px;
  width: 275px !important;
  margin: 5px;
  border-radius: 0px;
  display: inline-block;
  transition: transform 0.2s;
}

@media (min-width: 768px) {
  .card {
    width: calc(33.33% - 10px);
    margin: 5px;
  }
}

.row {
  display: flex;
}

.card:hover {
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.8);
}

.card-body {
  color: rgb(72, 72, 72);
  overflow: hidden;
  width: 275px;
  text-align: center;
}

.card-body a:hover {
  text-decoration: none !important;
}

.col-md-6.col-lg-4.mb-4 {
  width: 300px;
  text-decoration: none;
}

.row.row.mt-4 {
  display: flex;
}

.card-link {
  width: 300px;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none !important;
}

div.container,
a {
  font-size: 16px !important;
  color: white !important;
  text-decoration: none !important;
}

div.container>a:hover {
  text-decoration: underline !important;
}

html {
  position: relative;
  min-height: 100%;
}

.border-bottom {
  border-bottom: transparent !important;
}