html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3{
  background-color: rgba(255, 255, 255, 0) !important;
}

a.navbar-brand{
  font-family: "Outfit", sans-serif !important;
  font-size: 13pt;
  color: white !important;
  font-weight: 400 !important;
}

a.nav-link.text-dark{
  font-family: "Outfit", sans-serif !important;
  font-size: 13pt;
  color: white !important;
  font-weight: 400 !important;
}

a.nav-link.text-dark:hover{
  font-family: "Outfit", sans-serif !important;
  font-size: 13pt;
  color: white !important;
  font-weight: 400 !important;
  text-decoration: underline;
}

.btn.btn-primary:hover{
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: rgb(201, 48, 79);
}

.btn.btn-primary{
  background-color: rgb(199, 202, 209, 0);
  height: 40px;
  width: 80px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 4px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 13pt;
}

.form-select{
  max-width: 200px;
  margin: 5px;
  display: inline;
}

label[for="topic"] {
  font-size: 20px;
}

label[for="sortBy"] {
  font-size: 20px;
}

.card{
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 400px;
  min-height: 250px;
  margin: 5px;
  border-radius: 0px;
  display: flex;
  flex-wrap: wrap;
}

.card-body{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  color: rgb(72, 72, 72);
  font-family: outfit;
  overflow: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: hsl(0, 0%, 100%);
  background-image: url("images/bg6.jpg");
  color: rgba(255, 255, 255);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 45pt;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: 15pt;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 12pt;
}

.card-link {
  color: red;
}

